.home-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto 10px auto;
}
.input-show{
    width: 80%;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid rgba(124, 117, 211, 0.699);
}
.home-link{
    text-decoration: none;
    font-size: 20px;
}