.user-input{
    width: 20%;
    margin: 200px auto 0 auto;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.cart-sec{
    background-color: aqua;
    height: 800px;
}
.user-input input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0 ;
    outline: none;
}
.user-input textarea{
    width: 100%;
    padding: 20px 0;
    outline: none;
    margin-bottom: 20px;
}
.user-input button{
    padding: 5px 20px;
    margin-top: 30px;
}
.user-input .input-sec{
    width: 100%;
    margin-top: 10px;
}